<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout_Nelson.css" />
  <link rel="stylesheet" href="/styles/create_quiz.css" />

</head>

<body>
  <section id="tombstone">
    <form action="" method="GET">
      <div class=>
        <label for="title">Title:</label>
        <input id="title"></input>
      </div>
      <div>
        <label for="description">Description:</label>
        <input id="description"></input>
      </div>
      <input type="checkbox">Make Public</input>
    </form>
  </section>
  <section id="question">
    <form>
      <label for="question1">1. Question:</label>
      <input name="question1"></input>
      <br>
      <label for="option1">Option 1:</label>
      <input name="option"></input>
      <br>
      <label for="option2">Option 2:</label>
      <input name="option"></input>
      <br>
      <label for="option3">Option 3:</label>
      <input name="option"></input>
      <br>
      <label for="option4">Option 4:</label>
      <input name="option"></input>
    </form>
  </section>
  <section class="buttons">
    <button type="submit">Add Question</button>
    <button type="submit">Create Quiz</button>
  </section>
</body>

</html>