<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create_quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('nav') %>
  <section id="tombstone">
    <form action="" method="GET">
      <div class=>
        <label for="title">Title:</label>
        <input id="title"></input>
      </div>
      <div>
        <label for="description">Description:</label>
        <input id="description"></input>
      </div>
      <input type="checkbox">Make Public</input>
    </form>
  </section>
  <section id="question">
    <form>
      <div class="questions">
        <label for="question1">
          <div class="question-number">1</div>. Question:
        </label>
        <input name="question1"></input>
        <br>
        <label for="option1">Option 1:</label>
        <input name="option"></input>
        <br>
        <label for="option2">Option 2:</label>
        <input name="option"></input>
        <br>
        <label for="option3">Option 3:</label>
        <input name="option"></input>
        <br>
        <label for="option4">Option 4:</label>
        <input name="option"></input>
      </div>
      <div class="buttons">
        <button id='add-question'>Add Question</button>
        <br>
        <button id='create-quiz' type="submit">Create Quiz</button>
      </div>
    </form>
</body>

</html>