<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <nav>
    <!-- <span class="logo">Tweeter</span> -->

    <div class="buttons">

      <a href="/">
        <button>App Name (home button)</button>
      </a>


      <a href="/my-quizzes">
        <button>My Quizzes</button>
      </a>

      <a href="/my-attempts">
        <button>My-Attempts</button>
      </a>

      <a href="/my-attempts">
        <button>Create a Quiz</button>
      </a>


    </div>


      <!-- <button>My Quizzes</button> -->
      <!-- <button>My Attempts</button> -->
      <div class="right-buttons">
        <button>Register</button>
        <button>Login</button>
        <button>Logout</button>
      </div>




    <!-- <div class="write-tweet">
      <span id="write"><strong>Write</strong> a new tweet</span>
      <i class="fas fa-angle-double-down"></i>
    </div> -->
  </nav>

  <div class="quizz">
    <p>This is first quizz
      Score
      Quiz name
      Description
      url

      THIS IS MY INDEX!!!!
    </p>

  </div>
  <div class="quizz">
    This is second quizz  rory
  </div>
  <div class="quizz">
    This is third quizz  rory
  </div>
  <div class="quizz">
    This is 4444 quizz  rory
    fhdshd
    dlsjkjflskjdlflksjkjfklsjlkjflksjklfjlksjdfkljsklfjlksjflkjsd
    slkdjlksjklfjslkfjlkdsjflkjds
    lskdjfklj
    'skljflkjdslklkkljjlksajfkljkalsflkjklfjklajklfjklajkfjklajkljfkljaklsjfklj
    sjkjakljfkjalkfjklsajfklsjalkfjklsajfkljaslkfjlksafjklsjflkaj
    asklfjlksajlfkjaklsjklfjlksjflkjaslkfjslkajfkljsalkjlksflakjflkajs
    askjfklajklfjalksjalkjfkljalkfjlkajfkljalkfjkls

  </div>
</body>

</html>
