<!DOCTYPE html>
<html lang="en">

<head>

  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>

</head>

<body>
  <h2 class="appname">Ronesh</h2>
  <section class="login">
    <form class="login-form">
      <div class=>
        <label for="username">Username:</label>
        <input id="username"></input>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password"></input>
      </div>
      <div class="buttons">
        <button type="submit" id="login-button">Login</button>
        <button id="register-button">Register</button>
      </div>
    </form>
    <div class="error-message"></div>
  </section>
</body>

</html>