<head>
  <link rel="stylesheet" href="/styles/nav.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/nav.js"></script>
</head>
<nav>
  <!-- <span class="logo">Tweeter</span> -->

  <div class="buttons">

    <button id="home-page">App Name (home button)</button>

    <a href="/my-quizzes">
      <button>My Quizzes</button>
    </a>

    <a href="/my-attempts">
      <button>My-Attempts</button>
    </a>

    <a href="/my-attempts">
      <button>Create a Quiz</button>
    </a>


  </div>


    <!-- <button>My Quizzes</button> -->
    <!-- <button>My Attempts</button> -->
    <div class="right-buttons">
      <button>Register</button>
      <button>Login</button>
      <button id="logout">Logout</button>
    </div>




  <!-- <div class="write-tweet">
    <span id="write"><strong>Write</strong> a new tweet</span>
    <i class="fas fa-angle-double-down"></i>
  </div> -->
</nav>