<nav>
  <!-- <span class="logo">Tweeter</span> -->

  <div class="buttons">

    <a href="/">
      <button>App Name (home button)</button>
    </a>


    <a href="/my-quizzes">
      <button>My Quizzes</button>
    </a>

    <a href="/my-attempts">
      <button>My-Attempts</button>
    </a>

    <a href="/my-attempts">
      <button>Create a Quiz</button>
    </a>


  </div>


    <!-- <button>My Quizzes</button> -->
    <!-- <button>My Attempts</button> -->
    <div class="right-buttons">
      <button>Register</button>
      <button>Login</button>
      <button>Logout</button>
    </div>




  <!-- <div class="write-tweet">
    <span id="write"><strong>Write</strong> a new tweet</span>
    <i class="fas fa-angle-double-down"></i>
  </div> -->
</nav>