<head>
  <link rel="stylesheet" href="/styles/nav.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/nav.js"></script>
</head>
<nav>
  <div class="buttons">
    <button id="home-page">Ronesh</button>
    <button id="my-quizzes">My Quizzes</button>
    <button id="my-attempts">My Attempts</button>
    <button id="create-quiz">Create a Quiz</button>
  </div>
  <div class="right-buttons">
    <span class="placeholder-text">You are logged in as <%= username %></span>
    <button id="logout">Logout</button>
  </div>
</nav>
