<!DOCTYPE html>
<html lang="en">

<head>

  <title>Register</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/register.css" />

</head>

<body>
  <h2 class="appname">Ronesh</h2>
  <section class="register">
    <form action="" method="GET" class="register-form">
      <div>
        <label for="email">E-mail:</label>
        <input id="email" type="email"></input>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password"></input>
      </div>
      <button class="button" type="submit">Register</button>
    </form>
  </section>

</body>

</html>