<!DOCTYPE html>
<html lang="en">

<head>

  <title>Register</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/register.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/register.js"></script>
</head>

<body>
  <h2 class="appname">Ronesh</h2>
  <section class="register">
    <form class="register-form">
      <div>
        <label for="username">Username:</label>
        <input id="username"></input>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password"></input>
      </div>
      <button class="button" id="register-button">Register</button>
      <p>Have an account? <button id="login-here-button">Login here</button></p>
      <div class="error-message"></div>
    </form>
  </section>

</body>

</html>