#quiz {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  margin-bottom: 1%;
  padding-top: 200px;
  padding-left: 1%;
  padding-bottom: 1%;
}

#quiz form label,
#quiz form input {
  line-height: 1.5;
}

.quiz-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1%;
}

#add-question {
  display: flex;
  justify-content: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#submit-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}