#tombstone {
  display: flex;
  background-color: white;
  width: 40%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
}

#tombstone form label,
#tombstone form input {
  line-height: 1.5;
}

#quiz {
  display: flex;
  background-color: white;
  margin-bottom: 1%;
  padding-top: 200px;
  padding-left: 1%;
  padding-bottom: 1%;
}

#quiz form label,
#quiz form input {
  line-height: 1.5;
}

// .buttons {
//   display: flex;
//   flex-direction: column;
// }

// .buttons button:first-child {
//   margin-bottom: 0.5em;
// }


.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center
  // margin-left: auto;
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
