.username-field {
  display: flex;
  justify-content: space-between;
}

.password-field {
  display: flex;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.appname {
  display: flex;
  color: white;
  margin-top: 10%
}