.username-field {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.password-field {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

#login-button {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}

#register-button {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}

.appname {
  display: flex;
  color: white;
  margin-top: 10%
}