body {
  padding-top: 5%;
}

.quiz {
  height: 100%;
  width: 80%;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 18px;
  margin: 0.5em;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
