.quizz {
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 18px;
  margin: 50px;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}


.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center
  // margin-left: auto;
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
