body {
  background-color: black;
}

#quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 200px;
}

#description {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 1%;
}

#question {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 2%;
}

.button{
  display: flex;
  margin-top: 5%;
}