.username-field {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.password-field {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.register {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%
}

.register-form {
  justify-content: center;
}

.appname {
  display: flex;
  color: white;
  margin-top: 10%
}